{% extends "auctions/layout.html" %}

{% block body %}

    <h1 class="listings_heading">
        Closed Listing
    </h1>
    <div>
        {% if messages %}

        <ul class="messages" id="error_message">
        {% for message in messages %}
        {% if message.tags == 'error'%}
        <li class="error_mes"  >
        {{message}}
        </li>
        {% elif  message.tags == 'info'  %}
        <li class="info_mes"  >
            {{message}}
            </li>
        {% endif %}
        
        {% endfor %}
        </ul>
        
        <hr>
        {% endif %}
    </div>
    
    <div class="list_grid">
        {% for listing in listings %}
    
    <div class="listing_card">
        <div class="section_a">

        <div class="l_header">
            <h2>
                {{listing.title}}
            </h2>
           
        </div>
       
        <div class="l_bids">
            <h4>Bids</h4>
        
            <h5>Starting Bid: R{{listing.starting_bid}}</h5>
        
            <span>
                
            </span>
         

        </div>
        <div class="l_description">
            <h5>Description</h5>
            {{listing.description}}
        </div>
        {% if user.is_authenticated %}
        <div class="l_btn" id="wtt">
            
       
        
       
        </div>
      
        {% endif %}
        
    </div>
    <div class="section_b" id="sec_b">
        <div class="l_picture">
            <img src="{{listing.picture}}" alt="Image for {{listing.title}}"/>
        </div>
        <div class="bid_content">
            <div>
               <h5>
                {% if listing.highest_bid %}
                <p>Highest Bid: {{ listing.highest_bid }}</p>
            {% else %}
                <p>No bids yet!</p>
            {% endif %}
            </h5> 
            </div>
               
           
        </div>
    </div>
        
    </div>
    {% empty %}
<div style="font-size: 35px;">
    No Items On This Category
</div>
{% endfor %}
    <!-- sec 2 -->
    
   
</div>
{% endblock %}