{% extends 'auctions/layout.html' %}

{% block body %}
<h1 class="listings_heading">
    Create Listing
</h1>
<div class="create_wrapper">
    <form class="create_form" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="save" value="Update Listing" class="btn btn-success btn-lg">
        <a href="{% url 'my_listing' %}">
            <button type="button"  class="btn btn-secondary btn-lg"> Cancel </button>
        </a>
      </form>
</div>

{% endblock %}